#ignore
.classpath
.project
.factorypath
target
test-output
.settings
/**/disconf/download
*.log
*.bak
*.iml
/.idea


#exclusive
!src/
!resources/
!pom.xml
!.gitignore
!Scripts/
!Jenkinsfile
!*.json
!java
!*.yml

